<ion-content class="main-content ion-padding-top">
  <form class="class-form details-form" [formGroup]="formGroup">
    <mat-form-field class="field-form" appearance="outline">
      <mat-label>Term</mat-label>
      <mat-select formControlName="term" (selectionChange)="onSelectChanged()">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let option of selectTerms" [value]="option.value">{{ option.text }}</mat-option>

      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field class="field-form" appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select formControlName="classId" (selectionChange)="onSelectChanged()">
        <mat-option value="">None</mat-option>
        <mat-optgroup *ngFor="let item of selectClasses">
          <mat-option *ngFor="let option of item.options" [value]="option.value">{{ option.text }}</mat-option>
        </mat-optgroup>

      </mat-select>
    </mat-form-field>
  </form>

  <ion-text *ngIf="!hasClassFees && !hasStudentFees"><h5 class="ion-padding ion-text-center">{{ errMessage }}</h5></ion-text>
    <div *ngIf="isLoading" class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

  <div class="" *ngIf="hasClassFees || hasStudentFees">

    <div class="payment-details ion-padding" *ngIf="hasClassFees">
        
      <ion-text><h5 class="ion-padding ion-text-left">Class Fees</h5></ion-text>

      <table mat-table [dataSource]="classFeesDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>
       
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
      </table>
    </div>

    <div class="payment-details ion-padding" style="padding-top: 0;" *ngIf="hasStudentFees">
        
      <ion-text><h5 class="ion-padding ion-text-left">Student Fees</h5></ion-text>

      <table mat-table [dataSource]="studentFeesDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>
       
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
      </table>
    </div>
    
    <div class="btn-container ion-padding">
      <ion-button (click)="pay()" expand="block">
        <ion-spinner *ngIf="isVerifying" name="crescent"></ion-spinner>
        <ion-text *ngIf="!isVerifying">{{amount ? "Pay " + "&#8358;" + showAmount(amount) : "Pay" }}</ion-text>
   
      </ion-button>

      <input 
      #paystackBtn
      type="hidden"
      angular4-paystack
      [key]="'pk_test_b186e8981f70857947e2e411c99d553bca185855'"
      [email]="'uchexgeorge@gmail.com'"
      [amount]="amount * 100"
      [ref]="reference"
      (paymentInit)="paymentInit()"
      (close)="paymentCancel()"
      (callback)="paymentDone($event)"
      class="ion-hide"
      >
    </div>
  </div>
  
  <div class="ion-padding" *ngIf="hasPaidFees">
    <ion-text><h5 class="ion-padding ion-text-left">Paid Fees</h5></ion-text>

    <table mat-table [dataSource]="paidFeesDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>
      
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      
      <ng-container matColumnDef="paymentType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element">{{ element.paymentType }}</td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="paidDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: paidDisplayColumns;"></tr>
    </table>
    
    <br><br>
  </div>
  <!-- <ion-fab cdkDrag cdkDragBoundary=".main-content" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="custom-secondary" (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>